body {
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 8px 5px 0 12px;
}

#scoreboard {
  position: fixed;
}

#main-canvas {
}
